Flask>=2.2
Flask-SQLAlchemy
Flask-Login
Flask-WTF>=1.1
waitress
psycopg2
Flask
Flask-SQLAlchemy
psycopg2-binary
Flask-Login
Flask-WTF
redis
celery
gunicorn
eventlet
requests
itsdangerous>=2.0
werkzeug
python-dotenv
Flask-Session>=0.5
Flask-Cors
Flask-SocketIO
pillow
Flask-Migrate
watchdog
markdown2
flask-socketio[redis]